# ====================================================================
# テキストエディタ設定
# ====================================================================
# 上位参照
root = true

# 全般設定
[*]
indent_style = space
indent_size  = 2
charset      = UTF-8
trim_trailing_whitespace = true
insert_final_newline     = true

# ソースコード設定
[*.cs]
indent_style = tab
indent_size  = 4
