<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="NLog NLog.xsd">
  <targets>
    <target xsi:type="File"
            name="History"
            fileName="../Logs/${date:format=yyyyMMdd}.log"
            layout="${longdate}[${uppercase:${level:padding=-5}}:${threadid:padding=4}] ${callsite} - ${message}${onexception:${newline}${exception:format=Message,Type,ToString:separator=*}}"
            archiveFileName="../Logs/{#}.log"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="5000000" />
    <target xsi:type="Console"
            name="Console"
            layout="${date:HH\:mm\:ss.ffff}[${uppercase:${level:padding=-5}}:${threadid:padding=4}] - ${message}${onexception:${newline}${exception:format=Message,Type,ToString:separator=*}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="Console" />
    <logger name="*" minlevel="Trace" writeTo="History" />
  </rules>
</nlog>
