<?xml version="1.0" encoding="UTF-8"?>
<configuration parameter1="Data Source=localhost; Initial Catalog=xx1; User ID=yy1; Password=zz1;"
               parameter2="Data Source=localhost; Initial Catalog=xx2; User ID=yy2; Password=zz2;">
  <select name="商品マスタ">
    <command1><![CDATA[SELECT * FROM t_item_master]]></command1>
    <command2><![CDATA[SELECT * FROM t_item_master]]></command2>
  </select>
  <select name="売上マスタ" memo="商品マスタに備考を追加した">
    <command1><![CDATA[SELECT *, NULL AS remark_text FROM t_sale_record]]></command1>
    <command2><![CDATA[SELECT * FROM t_sale_record]]></command2>
  </select>
</configuration>
